<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>csc690-TodoApp 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>593C36E522487F09001605DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593C36F922487F0C001605DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593C370422487F0C001605DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
